@import "tailwindcss";
@plugin "@midudev/tailwind-animations";



:root {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color-scheme: dark;
  overflow-x: hidden;
  background: url() no-repeat center center fixed;
  background-size: cover;
}



@keyframes loopBanner {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-loopBanner {
  animation: loopBanner 60s linear infinite;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-out forwards;
}

@keyframes arrowBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.animate-arrowBounce {
  animation: arrowBounce 1.5s ease-in-out infinite;
}
